$header1: 4rem;
$header2: 3.5rem;
$header3: 2.5rem;
$header4: 2rem;
$header5: 1.5rem;
$header6: 1rem;
$primary_very_dark_blue: hsl(233, 47%, 7%);
$primary_desaturated_blue: hsl(244, 38%, 16%);
$primary_soft_violet: hsl(277, 64%, 61%);
$neutral_white: hsl(0, 0%, 100%);
$neutral_slighlty_transparent_white_paragraph: hsla(0, 0%, 100%, 0.75);
$neutral_slighlty_transparent_white_heading: hsla(0, 0%, 100%, 0.6);

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: $primary_very_dark_blue;
  font-family: "Inter", sans-serif, "Lexend Deca", sans-serif;
}
